.footballPitch {
  background: url(http://www.transparenttextures.com/patterns/fake-brick.png)
    repeat #6b220b;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.footballPitchGrass {
  background: url(http://www.transparenttextures.com/patterns/pool-table.png)
    repeat green;
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30% 0 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
  z-index: 0;
}

.footballPitchGoalOne {
  background: url(http://www.transparenttextures.com/patterns/subtlenet.png)
    repeat transparent;
  border: 2px solid #eee;
  border-bottom: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: 97%;
  content: '';
  height: 0;
  left: 43%;
  margin: 0;
  overflow: hidden;
  padding-bottom: 3%;
  position: absolute;
  width: 14%;
  z-index: 1;
}

.footballPitchGoalTwo {
  background: url(http://www.transparenttextures.com/patterns/subtlenet.png)
    repeat transparent;
  border: 2px solid #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  content: '';
  height: 0;
  left: 43%;
  margin: 0;
  overflow: hidden;
  padding-top: 3%;
  position: absolute;
  top: 97%;
  width: 14%;
  z-index: 1;
}

.footballPitchSideline {
  border: 2px solid #eee;
  bottom: 0;
  height: 94%;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  z-index: 1;
}

.footballPitchGoalArea {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.footballPitchGoalArea:before {
  border: 2px solid #eee;
  content: '';
  display: block;
  left: 35%;
  margin-top: -2px;
  padding-top: 6%;
  position: absolute;
  top: 0;
  width: 30%;
}

.footballPitchGoalArea:after {
  border: 2px solid #eee;
  bottom: -2px;
  content: '';
  display: block;
  height: 6%;
  left: 35%;
  margin: 0;
  position: absolute;
  width: 30%;
  z-index: 2;
}

.footballPitchCornerOne:before {
  border: 2px solid #eee;
  border-radius: 50%;
  content: '';
  height: 0;
  left: -4%;
  margin: 0;
  padding-bottom: 6%;
  position: absolute;
  top: -3%;
  width: 6%;
}

.footballPitchCornerOne:after {
  border: 2px solid #eee;
  border-radius: 50%;
  content: '';
  height: 0;
  margin: 0;
  padding-bottom: 6%;
  position: absolute;
  right: -4%;
  top: -3%;
  width: 6%;
}

.footballPitchCornerTwo:before {
  border: 2px solid #eee;
  border-radius: 50%;
  bottom: -3%;
  content: '';
  height: 0;
  left: -4%;
  margin: 0;
  padding-bottom: 6%;
  position: absolute;
  width: 6%;
}

.footballPitchCornerTwo:after {
  border: 2px solid #eee;
  border-radius: 50%;
  bottom: -3%;
  content: '';
  height: 0;
  margin: 0;
  padding-bottom: 6%;
  position: absolute;
  right: -4%;
  width: 6%;
}

.footballPitchPenaltyArea {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.footballPitchPenaltyArea:before {
  background: url(http://www.transparenttextures.com/patterns/pool-table.png)
    repeat green;
  border: 2px solid #eee;
  content: '';
  display: block;
  left: 20%;
  margin-top: -2px;
  padding-top: 25%;
  position: absolute;
  top: 0;
  width: 60%;
}

.footballPitchPenaltyArea:after {
  background: url(http://www.transparenttextures.com/patterns/pool-table.png)
    repeat green;
  border: 2px solid #eee;
  bottom: 0;
  content: '';
  display: block;
  left: 20%;
  margin-bottom: -2px;
  padding-bottom: 25%;
  position: absolute;
  width: 60%;
}

.footballPitchPenaltySpot {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.footballPitchPenaltySpot:before {
  background: #eee;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.8%;
  left: 49.4%;
  margin: 0;
  position: absolute;
  top: 12%;
  width: 1.2%;
}

.footballPitchPenaltySpot:after {
  background: #eee;
  border-radius: 50%;
  bottom: 12%;
  content: '';
  display: block;
  height: 0.8%;
  left: 49.4%;
  margin: 0;
  position: absolute;
  width: 1.2%;
}

.footballPitchArc {
  height: 100%;
  position: absolute;
  width: 100%;
}

.footballPitchArc:before {
  border: 2px solid #eee;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  content: '';
  display: block;
  left: 38%;
  margin-top: -2px;
  padding-bottom: 5%;
  position: absolute;
  top: 18%;
  width: 24%;
  z-index: 0;
}

.footballPitchArc:after {
  border: 2px solid #eee;
  border-radius: 50% / 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  content: '';
  display: block;
  left: 38%;
  margin-bottom: -2px;
  padding-top: 5%;
  position: absolute;
  bottom: 18%;
  width: 24%;
  z-index: 0;
}

.footballPitchHalfwayLine {
  border: 1px solid #eee;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  top: calc(50% - 1px);
  width: 100%;
}

.footballPitchHalfwayLine:before {
  border: 2px solid #eee;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0;
  left: calc(40% - 2px);
  margin-top: -10%;
  padding-bottom: 20%;
  position: absolute;
  width: 20%;
}

.footballPitchCenterSpot {
  background: #eee;
  border-radius: 50%;
  content: '';
  display: block;
  height: 1.2%;
  left: 49.1%;
  margin: 0;
  position: absolute;
  top: 49.4%;
  width: 1.8%;
  z-index: 2;
}
